
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

@import url('../../public/lib/fontawesome/css/all.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.Cardigan{
  color: black;
  text-align: center;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.player {
  background-image: url('../images/RedWhiteBlackStreaks.jpg');
  // background-image: url('../../public/images/RedWhiteBlackStreaks.jpg');
  border: 1.0px solid goldenrod;
  border-radius: 20px;
}

.controls {
  float: left;
}

.controls > a {
  text-decoration: none;
  height: 50px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px 0px;
  float: left;
  margin-left: 20px;
  color: white;
}


.controls > a:hover{
  background-color: red;
  color: black;
}

.progress {
  position: absolute;
  top: 22px;
  height: 10px;
  left: 100px;
  right: 14%;
  bottom: 0px;
  background: white;
}
.progress > .bar {
  position: absolute;
  top: 0px;
  height: 100%;
  float: left;
  left: 0px;
  width: 50%;
  bottom: 0px;
  background: black;
}

.actions {
  float: right;
  margin: 0px 40px 0px 0px;
}

.actions > a {
  text-decoration: none;
  height: 50px;
  box-sizing: border-box;
  // text-align: center;
  margin-left: 15px;
  padding: 15px 0px;
  float: left;
  color: white;
}

.actions > a:hover {
  background-color: red;
  color: black;
}


