
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import url('https://use.fontawesome.com/releases/v5.7.0/css/all.css');

@import url('../../public/lib/fontawesome/css/all.min.css');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.Cardigan{
  color: black;
  text-align: center;
}

.title {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
}

.player {
  margin: 15px 0;
  background: white;
  width: 100%;
  height: 50px;
  color: black;
}


